<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<p>Members:<br/>
<% if @beer_club.members.empty? %>
  No members in this club yet!
<% else %>
  <ul>
    <% @beer_club.members.each do |member| %>
      <li> <%= link_to member.username, user_path(member.id) %> </li>
    <% end %>
  </ul>
<% end %>

<% if current_user %>
<%= link_to 'Edit', edit_beer_club_path(@beer_club) %><br/>
<%= link_to 'Destroy the club', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</p>