<p id="notice"><%= notice %></p>

<h2><%= @user.username %></h2>

<p>has made <%= @user.ratings.count %> ratings with the average of <%= @user.average_rating %> points</p>

<p>member of
  <% @user.beer_clubs.each do |club| %>
      <%= link_to club.name, beer_club_path(club.id) %>
  <% end %>
</p>

<h3>ratings</h3>
<ul>

  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>
<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>