<h1>Ratings</h1>

<p><strong>Total number of ratings made: <%= @ratings_count %></strong></p>

<div class="row">
  <div class="col-md-4">
    <h2>Best beers</h2>
    <%= render 'top_table', toppers: @top_beers %>
  </div>

  <div class="col-md-4">
    <h2>Best breweries</h2>
    <%= render 'top_table', toppers: @top_breweries %>
  </div>

  <div class="col-md-4">
    <h2>Best styles</h2>
    <%= render 'top_table', toppers: @top_styles %>
  </div>
</div>

<h2>Top raters</h2>
<%= render 'rater_table', top_raters: @top_raters %>

<h2>Most recent ratings</h2>
<%= render 'recent_ratings_table', recent_ratings: @recent_ratings %>

<br/>
<% if current_user %>
  <%= link_to 'New rating', new_rating_path, class:"btn btn-primary" %>
<% end %>