<h2>List of ratings</h2>

<p>Number of ratings: <%= @ratings.count %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Beer</th>
      <th>Brewery</th>
      <th>Score</th>
      <th>Rated by</th>
    </tr>
  </thead>
  <tbody>
    <% @recent_ratings.each do |rating| %>
      <tr>
        <td><%= link_to rating.beer.name, beer_path(rating.beer) %></td>
        <td><%= link_to rating.beer.brewery.name, brewery_path(rating.beer.brewery) %></td>
        <td><%= rating.score %></td>
        <td><%= link_to rating.user.username, user_path(rating.user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<% if current_user %>
  <%= link_to 'New rating', new_rating_path, class:"btn btn-primary" %>
<% end %>