<h2>
  <%= @brewery.name %>
  <% unless @brewery.active %>
    <span class="label label-info">retired</span>
  <% end %>
</h2>

<p>
  <em>Established in
  <%= @brewery.year %> </em>
</p>

<ul>
  <% @brewery.beers.each do |beer| %>
    <li><%= link_to beer.name, beer_path(beer.id) %></li>
  <% end %>
</ul>

<p>
  <% if @brewery.ratings.empty? %>
      No ratings for this brewery yet!
  <% else %>
      Has <%= pluralize(@brewery.ratings.count, "rating") %>, average <%= @brewery.average_rating %>
  <% end %>
</p>

<% if current_user %>
    <%= link_to 'Edit', edit_brewery_path(@brewery), class:"btn btn-primary" %><br/>
    <%= link_to 'Destroy the brewery', @brewery, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
<% end %>
