<p id="notice"><%= notice %></p>

<h2>
  <%= @brewery.name %>
</h2>

<p>
  <em>Established in
  <%= @brewery.year %> </em>
</p>

<ul>
  <% @brewery.beers.each do |beer| %>
    <li><%= link_to beer.name, beer_path(beer.id) %></li>
  <% end %>
</ul>

<p>
  <% if @brewery.ratings.empty? %>
      No ratings for this brewery yet!
  <% else %>
      Has <%= pluralize(@brewery.ratings.count, "rating") %>, average <%= @brewery.average_rating %>
  <% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %>
